$color-white: #fff;
$color-black: #000;
$background-color:#1e272e;
$main-text-color: #d2dae2;
$dark-denim-color: #34495e;
$header-color: #2ecc71;
$light-grey-color: #bdc3c7;
$link-color: #2980b9;

$default-font-size: 1.6rem;